@font-face {
  font-family: "PartialSansKr";
  src: url(fonts/PartialSansKR-Regular.otf);
  font-family: "Freesentation";
  src: url(fonts/Freesentation-6SemiBold.ttf);
  font-family: "Waguri";
  src: url(fonts/WAGURI\ TTF.ttf);
}

.icon2 {
  width: 93px;
  height: auto;
}

html {
  height: 100%;
}

body {
  font-family: "Freesentation";
  margin: 0;
  height: 100%;
  overflow: hidden;
}

nav {
  display: flex;
  height: 75px;
  padding: 10px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  font-size: 25px;
  margin-bottom: 35px;
  justify-content: space-between;
}

main {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Waguri";
  color: honeydew;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  height: 100%;
}

button {
  width: 150px;
  height: auto;
  border: none;
  background: #efe9f4;
  background: linear-gradient(to right, #95a7df, #5078f2);
  font-size: 20px;
  padding: 8px;
  margin-top: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #627496;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #5078f2;
}

a.buttonlink {
  color: white;
}

a.buttonlink:hover {
  color: #5078f2;
}

.icon_header {
  padding: 5px;
  margin-left: 10px;
}

.icon {
  margin-left: 270px;
}

.links {
  display: flex;
  /* margin-left: auto; */
  gap: 50px;
  margin-right: 20px;
  margin-top: 40px;
  font-weight: 600;
}

.newjeansMain {
  width: 1000px;
  height: auto;
}

.maintext {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  height: 100%;
  margin: 100px 0 0 20px;
}

.mainheader {
  font-size: 80px;
  text-shadow: 3px 3px black;
}

.mainpara {
  font-size: 25px;
  font-weight: 900;
  text-shadow: 1px 1px black;
}

.wrapper {
  width: 900px;
  flex-wrap: wrap;
}

.video {
  margin-left: 200px;
  border: 5px solid #678af5;
  border-radius: 0.45rem;
  width: 500px;
  height: 280px;
}
